<div class="card">
    <div class="card-header">
        Rated {{rating}} out of 5 stars by {{user.name}} on {{ date_created}}.
    </div>
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{content}}</p>
        {{!-- <a href="#" class="btn btn-primaray">Go somewhere</a> --}}
    </div>
</div>